# ML y procesamiento de datos
pandas==2.2.3
numpy==2.2.4
scikit-learn==1.6.1
xgboost==3.0.0
joblib==1.4.2

# Visualización e interfaz
streamlit==1.44.1
pydeck==0.9.1
altair==5.5.0
matplotlib==3.10.1

# Utilidades varias
requests==2.32.3
PyYAML==6.0.2
protobuf==5.29.4
